<div class="card">
  <form [formGroup]="form">
    <div class="card-body">
      <div class="row">
        <div>
          <input class="col-md-6 form-group" type="text" formControlName="binaryNumber" placeholder="Enter with binary code"
                 (keypress)="onlyBinary($event)" #bin>
          <input class="col-md-2 btn-primary form-group" type="button" value="Submit" (click)="convert(bin.value)">
        </div>
        <div>
          <input class="col-md-6 form-group" type="text" formControlName="decimalNumber" placeholder="Decimal conversion" readonly>
        </div>
      </div>
    </div>
  </form>
</div>
<router-outlet></router-outlet>
